# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.log
.venv/
venv/
env/
.env
.env.*
*.sqlite3
*.sqlite3-journal

# Django
staticfiles/
media/

# Node / Frontend
node_modules/
dist/
build/
.vite/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
